body {

    color: #ffffff;
    background-color: rgb(255, 253, 253);
  }
 
 .tag {
     font-family: inherit; 
     font-size: 1rem;
    }  

 
.jumbotron {
    background-image: url("../images/bacteria.png");
    background-size: 100% 100%;
    text-align: center;
  }